@media (max-width: 1024px) {
    .sticky-header {
        flex-wrap: wrap;
        gap: 10px;
    }

    .tabs button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .custom-section {
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }

    .content {
        max-width: 90%;
    }
    .aboutsection{
        height: 60vh;
        overflow-y: hidden;
    }
    .about-image{
        height: 40vh;
    }
    .about-imagebenzene {
       height: 40vh;
        background-size: cover;
        background-position: center;
        animation: rotate-animation 1.6s ease-in-out forwards;
      }
      
    .image-container img {
        max-width: 300px;
    }

    .top-section p {
        font-size: 1.5rem;
    }
    /* feature  */
    .features-grid {
        gap: 20px; /* Reduce gap for smaller screens */
    }

    .feature {
        flex: 1 1 calc(45% - 10px); /* 2-column layout */
        max-width: 100%;
    }

    .section-header h2 {
        font-size: 32px; /* Adjust heading size */
    }

    .section-header h4 {
        font-size: 18px;
    }
    /* work  */
    .work-item {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .work-content {
        padding: 20px;
    }

    .work-image {
        border-radius: 0 0 8px 8px;
        height: 250px;
    }
    /* process  */
    .process-container {
        flex-direction: column;
        padding: 4rem 30px;
    }

    .process-header {
        
        text-align: left;
        margin-bottom: 2rem;
    }

    .process-header h1 {
        font-size: 2.8rem;
    }

    .steps-container {
        gap: 15px;
    }

    .step {
        width: 90%;
        padding: 10px;
    }

    .step h2 {
        font-size: 2rem;
    }

    .step h3 {
        font-size: 1.25rem;
    }

    .step p {
        font-size: 1rem;
    }
    /* banner  */
    .banner {
        width: 90%; /* Use 90% width on tablet */
        padding: 40px;
      }

      .banner h1 {
        font-size: 2.5rem; /* Smaller font size for tablets */
      }

      .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
      }
       .content-section{
        height: 60vh;
      }
    
}

@media (max-width: 768px) { /* Tablet */
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .content-section{
        height: 90vh;
      }
      .brandslogo{
        width: 100px !important;
      }
    .nav-links {
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        padding: 1rem 0;
    }

    .nav-links a {
        font-size: 1rem;
    }
    /* hero  */
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .cta-buttons {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .cta-buttons .btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
.aboutsection{
    height: 60vh;
}
.about-white,
.about-black{
    height: auto;
}
    .about-image,
    .about-imagebenzene {
        width: 100%;
        height: 40vh;
    }
    .about-imagebenzene{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .brands-section h1 {
        font-size: 1.5rem;
    }

    .brands p {
        font-size: 1.1rem;
    }

    .brands {
        flex-wrap: wrap;
        gap: 1rem;
    }
    /* tabs  */
    .sticky-header {
        flex-direction: column;
        padding: 1rem;
        gap: 15px;
    }

    .tabs button {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .custom-section {
        text-align: center;
        gap: 1rem;
        padding: 1px;
    }
    

    .content {
        max-width: 100%;
    }

    .image-container img {
        max-width: 250px;
    
    }

    .top-section h1 {
        font-size: 1.5rem;
    }

    .top-section p {
        font-size: 1.2rem;
    }
    .content-section{
        height: 50vh;
    }
    /* features  */
    .features-grid {
        flex-direction: column; /* Stack features vertically */
        gap: 30px;
    }

    .feature {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .section-header h2 {
        font-size: 28px;
    }

    .section-header h4 {
        font-size: 16px;
    }
    /* work  */
    .section-title h2 {
        font-size: 24px;
    }

    .work-content h3 {
        font-size: 24px;
    }

    .work-content p {
        font-size: 14px;
    }

    .work-image {
        height: 200px;
    }
    /* process  */
    .process-header h1 {
        font-size: 2.4rem;
    }

    .step h2 {
        font-size: 1.8rem;
    }

    .step h3 {
        font-size: 1.2rem;
    }

    .step p {
        font-size: 0.9rem;
    }
    /* banner  */
    .banner {
        width: 95%; /* Use 95% width on mobile */
        padding: 30px;
      }

      .banner h1 {
        font-size: 2rem; /* Smaller font size for mobile */
      }

      .btn {
        font-size: 0.8rem;
        padding: 6px 12px;
      }
}

@media (max-width: 480px) { /* Mobile */
    .profile {
        font-size: 1.5rem;
    }

    .nav-links {
        font-size: 0.9rem;
        text-align: center;
    }

    .nav-links a {
        font-size: 0.9rem;
    }
    /* hero  */
    .brandslogo{
        width: 100px !important;
      }
    
    .about-image,
    .about-imagebenzene {
        width: 100%;
        height: 30vh;
    }
    .about-imagebenzene{
        background-size:cover;
        background-repeat: no-repeat;
    }
    .aboutsection{
        height: 40vh;
    }
    .brands-section h1 {
        font-size: 1.3rem;
    }

    .brands p {
        font-size: .6rem;
    }

    .brands {
        flex-wrap: wrap;
        gap: 1rem;
    }
    /* tabs  */
    .sticky-header {
        flex-direction: column;
        gap: 10px;
    }

    .tabs {
        flex-direction: row;
        gap: 0.5rem;
    }

    .tabs button {
        padding: 0.6rem;
        width: 100%;
    }

    .custom-section {
        gap: 1.5rem;
    }

    .content {
        max-width: 100%;
    }

    .image-container img {
        max-width: 200px;
    }

    .top-section h1 {
        font-size: 1.2rem;
    }

    .top-section p {
        font-size: 1rem;
    }
    .content h1{
        font-size: 1.6rem;
    }
    .content p{
        font-size: 1rem;
    }
    .content-section{
        height: auto;
    }

    /* features  */
    .web-development {
        padding: 20px 10px; /* Reduce padding for narrow screens */
    }

    .section-header h2 {
        font-size: 24px;
    }

    .section-header h4 {
        font-size: 14px;
    }

    .feature p {
        font-size: 16px;
    }
      /* work  */
      .section-title h2 {
        font-size: 20px;
    }

    .work-content {
        padding: 15px;
    }

    .work-content h3 {
        font-size: 20px;
    }

    .work-content p {
        font-size: 14px;
        margin: 15px 0 20px;
    }

    .work-image {
        height: 180px;
    }
    /* process  */
    
    .process-header h1 {
        font-size: 1.8rem;
    }
    

    .step {
        padding: 15px;
    }

    .step h2 {
        font-size: 1.5rem;
    }

    .step h3 {
        font-size: 1rem;
    }

    .step p {
        font-size: 0.8rem;
    }
    /* banner  */
    .banner {
        width: 100%; /* Full width on extra small devices */
        padding: 20px;
      }

      .banner h1 {
        font-size: 1.6rem; /* Smaller font size for small screens */
      }

      .btn {
        font-size: 0.8rem;
        padding: 6px 12px;
      }
      .footer-nav p{
  font-size: .6rem;
      }
}


/* for review  */
 
@media screen and (max-width: 900px) {
    .review{
        width: 100%;
        height: auto;
       
        
      }
    .content-wrapper {
      width: 100%;
    }
    .left-arrow-wrap {
      left: 0%;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    
    .right-arrow-wrap {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      right: 0%;
    }
    #description {
      font-size: calc(0.8rem + 0.3vmin);
      width: 90%;
      max-width: 40rem;
      text-align: center;
      margin-bottom: calc(1.4rem + 1vmin);
      color: rgb(92, 92, 92);
      line-height: 1.1rem;
    }
  }
  